/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: Animations stylesheet.
* @file: animations.css
* @created: 2022-01-30
* @updated: 2024-01-28
* @supported: DESKTOP
* @version: 0.0.2
*/

/* Text bloom */
@keyframes textbloom {
	from {
		text-shadow: 0 0 0 transparent;
	} to {
		text-shadow: 0 0 15px var(--white);
	}
}

/* Translation */
@keyframes translate {
	from {
		transform: translateY(-120%);
	} to {
		transform: translateY(0);
	}
}

/* Rotation */
@keyframes rotate {
	from {
		transform: rotate(0);
	} to {
		transform: rotate(360deg);
	}
}

/* Scaling */
@keyframes scale {
	from {
		transform: scale(0);
	} to {
		transform: scale(1);
	}
}

/* Fadeout */
@keyframes fadeout {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

/* Fields resize */
@keyframes field_resize {
	from {
		opacity: 0;
		width: 0;
	} to {
		width: 250px;
		opacity: 1;
	}
}
