/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: The dashboard stylesheet.
* @file: dashboard.css
* @created: 2022-01-30
* @updated: 2024-01-07
* @supported: DESKTOP
* @version: 0.0.2
*/

/* Colors theme */
:root {
	--primary-color: #075E54;
	--white: #fff;
	--black: #000;
}

/* When an option is selected */
div.active-option {
	background-color: var(--white) !important;
}

/* When a sub option is selected */
div.active-option div svg {
	fill: var(--primary-color) !important;
}

/* Option container */
div.dashboard-option:hover {
	background-color: var(--white);
}

/* Any option svg image vector */
div.dashboard-option:hover div svg {
	fill: var(--primary-color);
}

/* Mailer and guest svgs */
div.mailer svg, div.guest svg {
	transform: translateX(0);
}

/* Mailer container */
div.mailer {
	display: none;
}

/* Dashboard container */
div.dashboard {
	display: flex;
}

/* Big views */
div.views {
	position: relative;
	overflow-y: auto;
	z-index: 0;
}

/* Svg basic design */
div.dashboard-option div svg,
div.mailer svg,
div.guest svg {
	transform: translateX(-5px);
	transition: fill 400ms;
	fill: var(--white);
	cursor: pointer;
}

/* Global title */
div.big-title {
	color: var(--white);
	font-weight: 400;
	font-size: 18px;
	width: 100%;
}

/* Views manager */
div.views-manager {
	position: relative;
	overflow-y: auto;
	height: 100%;
	z-index: 0;
}

/* Global page data */
div.page-data {
	flex-direction: column;
	position: relative;
	display: flex;
	width: 100%;
	z-index: 0;
}

/* Slider menu design */
div.slider-menu {
	background-color: var(--primary-color);
	justify-content: center;
	flex-direction: column;
	padding-right: 10px;
	align-items: center;
	display: flex;
	gap: 15px;
}

/* Any option */
div.dashboard-option {
	transition: background-color 400ms;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	cursor: pointer;
}

/* Page global header */
div.header {
	background-color: var(--primary-color);
	border-right: 1px solid var(--white);
	box-shadow: 0 0 4px var(--black);
	padding: 5px 10px 5px 10px;
	justify-content: center;
	position: relative;
	display: flex;
	z-index: 1;
	gap: 20px;
}
