/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @fileoverview: The stylesheet for all forms.
* @author: Obrymec - obrymecsprinces@gmail.com
* @file: formulary.css
* @created: 2022-01-30
* @updated: 2024-01-28
* @supported: DESKTOP
* @version: 0.0.2
*/

/* Input hover */
div.form-field > input:hover, div.form-field > textarea:hover {
	border-color: var(--primary-color);
}

/* Dropdown icon select hover */
div.form-field:hover > div.form-drop-arrow > svg > path {
	stroke: var(--primary-color);
}

/* Placeholder focus */
div.form-field:hover > textarea::placeholder, 
div.form-field:hover > input::placeholder {
	color: var(--primary-color);
}

/* Hides any tag */
div.face-off {
	display: none;
}

/* Input formulary */
div.form-container {
	width: 100%;
}

/* Input field error */
div.field-error > textarea,
div.field-error > select,
div.field-error > input {
	border: 1px solid var(--error-color) !important;
	box-shadow: 0 0 1px var(--error-color);
}

/* Dropdown select hover */
div.form-field:hover > select {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

/* Input formulary field */
div.form-field {
	align-items: center;
	display: flex;
}

/* Dropdown select */
div.form-field > select {
	box-shadow: none;
	height: 36px;
}

/* Dropdown select icon */
div.form-drop-arrow > svg {
	transform: translate(-24px, -3px);
	pointer-events: none;
	position: absolute;
}

/* Formulary dual fields */
div.form-dual-fields {
	display: flex;
	width: 100%;
	gap: 15px;
}

/* Input field placeholder text */
div.form-field > textarea::placeholder,
div.form-field > input::placeholder {
	transition: color 0.3s ease-in-out;
	color: var(--silver);
	font-style: italic;
	user-select: none;
}

/* Error message label */
div.mgs-error {
	color: var(--error-color);
	text-align: justify;
	margin-top: 4px;
	font-size: 12px;
}

/* Textarea */
div.form-field > textarea {
	padding-top: 10px;
	overflow-y: auto;
	height: 120px;
	resize: none;
}

/* Formulary container */
div.formulary {
	flex-direction: column;
	align-items: center;
	padding: 15px;
	display: flex;
	gap: 15px;
}

/* Input field disabled */
div.field-disabled > input {
	background-color: var(--white-300);
	color: var(--gray-300) !important;
	border: 1px solid var(--silver);
	pointer-events: none;
	font-weight: bold;
	box-shadow: none;
	animation: none;
}

/* Input */
div.form-field > textarea,
div.form-field > select,
div.form-field > input {
	transition-property: color, box-shadow, border;
	color: var(--primary-color-100);
	border: 1px solid var(--silver);
	background-color: var(--white);
	padding: 7px 30px 7px 12px;
	transition-duration: 0.3s;
	letter-spacing: 1.5px;
	border-radius: 5px;
	appearance: none;
	font-size: 15px;
	outline: none;
	height: 40px;
	width: 100%;
}
