/*Loader text container*/
div.loader-text {
	transform: translateY(-1px);
}

/*It loader container*/
div.it-ld-ctr {
	gap: 8px;
}

/*It loader and his container*/
div.it-loader, div.it-ld-ctr {
	justify-content: center;
	align-items: center;
	display: flex;
}

/*Loader text*/
div.loader-text > label {
	color: rgb(150, 150, 150);
	font-family: verdana;
	font-style: italic;
	font-size: 16px;
	opacity: 0;
}

/*For loader circle*/
circle.st0 {
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: #000;
    fill: none;
}
