/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: The message box stylesheet.
* @file: message_box.css
* @created: 2022-01-30
* @updated: 2024-01-07
* @supported: DESKTOP
* @version: 0.0.2
*/

/* Colors theme */
:root {
	--slight-black: rgba(0, 0, 0, 0.8);
	--primary-color: #075e54;
	--silver: silver;
	--black: #000;
	--white: #fff;
}

/* Global container */
div.msg-container {
	box-shadow: 0 0 10px var(--black);
}

/* Button option */
div.msg-options > button {
	width: 120px;
}

/* Root container */
div.message-box {
	background-color: var(--slight-black);
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
}

/* Text content */
div.text-content {
	font-family: verdana;
	text-align: justify;
	margin-top: -3px;
	font-size: 15px;
	width: 100%;
}

/* Content */
div.msg-content {
	background-color: var(--white);
	padding: 10px 12px 10px 6px;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 370px;
	gap: 10px;
}

/* Options container */
div.msg-options {
	border-top: 1px solid var(--silver);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: var(--white);
	justify-content: flex-end;
	display: none;
	padding: 10px;
	gap: 15px;
}

/* Header */
div.msg-header {
	background-color: var(--primary-color);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px 6px 6px 6px;
	font-family: verdana;
	color: var(--white);
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
