/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: The sign in/up stylesheet.
* @created: 2022-01-30
* @updated: 2024-01-07
* @supported: DESKTOP
* @file: sign.css
* @version: 0.0.2
*/

/* Colors theme */
:root {
  --slight-blue: rgba(5, 116, 186, 0.823);
	--darkblue-100: #15172b;
	--darkblue-200: #303245;
	--error-color: #dc2f55;
	--pure-blue-100: #06b;
	--pure-blue-200: #08b;
	--gray-400: #808097;
	--gray-500: #65657b;
	--gray-600: #eee;
	--black: #000;
}

/* Virtual placeholder */
input.input:not(:placeholder-shown) ~ label.placeholder,
input.input:focus ~ label.placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
}

/* Submit button active slot */
button.submit:active {
	background-color: var(--pure-blue-100);
}

/* Button hover */
button.submit:hover {
	background-color: var(--pure-blue-100);
}

/* Virtual placeholder */
input.input:not(:placeholder-shown) ~ div.cut,
input.input:focus ~ div.cut {
	transform: translateY(8px);
}

/* Placeholder focus */
input.input:focus ~ label.placeholder {
	color: var(--error-color);
}

/* Placeholder */
input.input:not(:placeholder-shown) ~ label.placeholder {
	color: var(--gray-400);
}

/* Email field container */
div.ic1 {
	margin-top: 40px;
}

/* Password */
div.ic2 {
	margin-top: 30px;
}

/* Login button */
button.sign-up {
	margin-top: 10px;
}

/* Sign up button link */
button.sign-up-login {
	margin-top: 10px;
}

/* Password cut */
div.password-cut {
	width: 105px;
}

/* Confirm password cut */
div.confirm-password-cut {
	width: 172px;
}

/* Email cut */
div.email-cut {
	width: 55px;
}

/* Pseudo cut */
div.pseudo-cut {
	width: 66px;
}

/* Input container */
div.input-container {
	position: relative;
	height: 50px;
	width: 100%;
}

/* Sign page container */
div.sign {
	background-color: var(--black);
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh;
}

/* Title text container */
div.title {
	font-family: sans-serif;
	color: var(--gray-600);
	font-weight: 600;
	margin-top: 25px;
	font-size: 36px;
}

/* Sign up form container */
div.form {
	background-color: var(--darkblue-100);
	box-sizing: border-box;
	border-radius: 20px;
	height: 610px;
	padding: 20px;
	width: 320px;
}

/* Login form container */
div.login {
	background-color: var(--darkblue-100);
	box-sizing: border-box;
	border-radius: 20px;
	height: 500px;
	padding: 20px;
	width: 320px;
}

/* Cutter */
div.cut {
	background-color: var(--darkblue-100);
	transition: transform 200ms;
	transform: translateY(0);
	border-radius: 10px;
	position: absolute;
	height: 20px;
	left: 20px;
	top: -20px;
}

/* Virtual placeholder label */
label.placeholder {
	transition: transform 200ms, color 200ms;
	font-family: sans-serif;
	transform-origin: 0 50%;
	color: var(--gray-500);
	pointer-events: none;
	position: absolute;
	line-height: 14px;
	left: 20px;
	top: 20px;
}

/* Any input */
input.input {
	background-color: var(--darkblue-200);
	box-sizing: border-box;
	color: var(--gray-600);
	border-radius: 12px;
	padding: 4px 20px 0;
	font-size: 18px;
	height: 100%;
	width: 100%;
	outline: 0;
	border: 0;
}

/* Submit button */
button.submit {
	background-color: var(--pure-blue-200);
	box-sizing: border-box;
	color: var(--gray-600);
	border-radius: 12px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	width: 100%;
	outline: 0;
	border: 0;
}
