/*Tab control content*/
div.tab-content {
	transform: translate3d(0.0, 0.0, 0.0);
	overflow-y: auto;
	height: 100%;
}

/*Tab control section*/
div.tab-section {
	transition-property: border-color;
	transition-duration: 0.3s;
	padding: 5px 0 5px 0;
	cursor: pointer;
}

/*Tab control header*/
div.tab-header {
    background-color: #075E54;
	justify-content: flex-end;
	padding: 0 10px 0 10px;
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 25px;
	top: 0;
}

/*Tab control label section*/
label.section-text {
	transition-property: color;
	transform: translateY(1px);
	transition-duration: 0.3s;
	display: inline-block;
    font-style: italic;
	font-family: Arial;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
}
