/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: The widget popup stylesheet.
* @created: 2022-01-30
* @updated: 2024-01-07
* @supported: DESKTOP
* @file: widget.css
* @version: 0.0.2
*/

/* Colors theme */
:root {
	--slight-black: rgba(0, 0, 0, 0.8);
	--white-400: rgb(220, 220, 220); 
	--primary-color-100: #04463e;
	--primary-color: #075e54;
	--black-400: #343434;
	--black: #000;
	--white: #fff;
	--gray: grey;
}

/* Card and widget option hover */
div.msg-options > button:hover,
button.widget-option:hover,
button.card-option:hover {
	background-color: var(--primary-color-100);
}

/* Card icon */
div.card-icon > svg {
	transform: translateY(-5px);
}

/* Card index label */
div.ci > label {
	transform: translate(1px, 0.5px);
	display: inline-block;
}

/* Widget icon */
div.widget-icon > svg {
	transform: translateY(1.5px);
	cursor: pointer;
}

/* Card data */
div.data-card {
	box-shadow: 0 0 4px var(--gray);
	background-color: var(--white);
}

/* Widget content */
div.widget-content {
	overflow-y: auto;
	height: 100%;
}

/* Disabled button */
button.disabled {
	background-color: var(--white-400);
	text-shadow: 0 0 6px var(--white);
	pointer-events: none;
}

/* Card options */
div.widget-options,
div.card-options {
	justify-content: flex-end;
	display: flex;
	gap: 15px;
}

/* Card attributes and data */
div.card-datum,
div.card-attr {
	color: var(--black-400);
	font-family: verdana;
	margin-bottom: 15px;
	font-size: 15px;
}

/* Card content */
div.card-content {
	padding: 15px 15px 0 15px;
	align-items: center;
	display: flex;
	gap: 15px;
}

/* Widget box */
div.widget-box {
	background-color: var(--slight-black);
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
}

/* Card header */
div.widget-header,
div.card-header {
	background-color: var(--primary-color);
	border-bottom: 1px ridge var(--gray);
	padding: 6px 10px 6px 10px;
	font-family: verdana;
	align-items: center;
}

/* Card title */
div.widget-title,
div.ctt {
	letter-spacing: 1.5px;
	font-family: verdana;
	color: var(--white);
	font-size: 16px;
	width: 100%;
}

/* Card index */
div.ci {
	background-color: var(--white);
	transform: translateY(-0.5px);
	color: var(--primary-color);
	padding: 4px 8px 4px 8px;
	border-radius: 25px;
	text-align: center;
	font-size: 14px;
}

/* Widget container */
div.widget-container {
	transition-property: transform, opacity;
	box-shadow: 0 0 6px var(--black);
	background-color: var(--white);
	transition-duration: 0.2s;
	flex-direction: column;
	display: flex;
	opacity: 0;
}

/* Card option */
div.msg-options > button,
button.widget-option,
button.card-option {
	background-color: var(--primary-color);
	box-shadow: 0 1px 3px var(--gray);
	box-shadow: 0 0 3px var(--black);
	padding: 8px 8px 8px 8px;
	letter-spacing: 1.5px;
	font-family: verdana;
	color: var(--white);
	border-radius: 3px;
	font-size: 14px;
	width: 160px;
}
