/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: The crud view stylesheet.
* @file: crud_view.css
* @created: 2022-01-30
* @updated: 2024-01-28
* @supported: DESKTOP
* @version: 0.0.2
*/

/* Searcher icon */
div.shi > svg {
	transform: translate(4.5px, 4.5px);
}

/* Adder icon container hover */
div.ari:hover,
div.shi:hover,
div.rfi:hover {
	border-color: var(--primary-color);
}

/* Crud view toolbar */
div.crud-toolbar {
	transform: translate3d(0, 0, 0);
}

/* Refresh icon */
div.rfi > svg {
	transform: translate(7px, 7px);
}

/* Searcher icon */
div.searcher > svg {
	transform: translateY(-1.5px);
}

/* Adder icon hover */
div.ari:hover > svg > g > line.cls-2,
div.shi:hover > svg {
	stroke: var(--primary-color);
}

/* Refresh icon hover */
div.rfi:hover > svg {
	fill: var(--primary-color);
}

/* Search field container hover */
div.search-field:hover > div.field-clear > svg {
	visibility: visible;
}

/* Main option: add, search and refresh */
div.ar, div.sh, div.rf {
	margin-top: -1px;
}

/* Adder icon */
div.ari > svg {
	transform: translate(-2.5px, -2.5px);
	cursor: pointer;
}

/* Search field container */
div.search-field {
	display: flex;
	width: 100%;
}

/* Searcher icon */
div.searcher {
	position: absolute;
	margin-left: 8px;
	margin-top: 5px;
}

/* Search input field placeholder */
div.search-field > input[type="text"]::placeholder {
	transform: translateY(1px);
	color: var(--silver);
	font-style: italic;
	user-select: none;
}

/* Crud view content */
div.crud-content {
	scroll-behavior: smooth;
	flex-direction: column;
	overflow-y: auto;
	display: flex;
	height: 100%;
}

/* Main options */
div.main-options {
	justify-content: flex-end;
	display: inline-flex;
	position: fixed;
	bottom: 20px;
	right: 20px;
	gap: 10px;
}

/* Adder, move up/down icons containers */
div.ari, div.shi, div.rfi {
	background-color: var(--white-300);
	border: 1px ridge var(--silver);
	padding: 2px 6px 6px 2px;
	border-radius: 40px;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

/* Search input field */
div.search-field > input[type="text"] {
	box-shadow: inset 0 2px 2.5px var(--gray);
	color: var(--primary-color-100);
	padding: 15px 32px 15px 35px;
	transition: color 0.4s;
	font-family: verdana;
	font-weight: normal;
	border-radius: 3px;
	font-size: 14px;
	outline: none;
	border: none;
	height: 20px;
	width: 100%;
}

/* Crud view header */
div.crud-header {
	background-color: var(--primary-color);
	box-shadow: 0 2px 3px var(--gray);
	transition: margin-top 0.3s;
	padding: 8px 10px 8px 10px;
	align-items: center;
	position: relative;
	margin-top: -47px;
	display: flex;
	gap: 20px;
	right: 0;
	left: 0;
	top: 0;
}
