/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @fileoverview: The main stylesheet of the application.
* @author: Obrymec - obrymecsprinces@gmail.com
* @created: 2022-01-30
* @updated: 2024-01-28
* @supported: DESKTOP
* @file: index.css
* @version: 0.0.2
*/

/* Label */
label, span {
	letter-spacing: 1.5px;
	font-family: cursive;
	user-select: none;
}

/* Vertical flexbox */
.vflex {
	flex-direction: column;
	display: flex;
	height: 100%;
}

/* Centered message */
.grc-msg {
	font-family: verdana;
	color: var(--gray);
	font-size: 17px;
}

/* Basic center */
.center {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

/* Body */
body {
	background-color: var(--white);
	overflow: hidden;
	padding: 0;
	margin: 0;
}

/* Buttons */
input[type="button"],
button {
	user-select: none;
	cursor: pointer;
	outline: none;
	border: none;
}

/* Fixed element */
.fixed {
	position: fixed;
	z-index: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
