/**
* @project: Contracts Manager - https://contracts-manager.onrender.com/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: The sign in/up stylesheet.
* @created: 2022-01-30
* @updated: 2024-01-28
* @supported: DESKTOP
* @file: sign.css
* @version: 0.0.2
*/

/* Virtual placeholder */
input.input:not(:placeholder-shown) ~ label.placeholder,
input.input:focus ~ label.placeholder {
	transform: translateY(-29px) translateX(10px) scale(0.75);
}

/* Submit button active slot */
button.submit:active {
	background-color: var(--primary-color-200);
}

/* Button hover */
button.submit:hover {
	background-color: var(--primary-color-200);
}

/* Placeholder */
input.input:not(:placeholder-shown) ~ label.placeholder {
	color: var(--primary-color-400);
}

/* Virtual placeholder */
input.input:not(:placeholder-shown) ~ div.cut,
input.input:focus ~ div.cut {
	transform: translateY(8px);
}

/* Placeholder focus */
input.input:focus ~ label.placeholder {
	color: var(--error-color);
}

/* Email field container */
div.ic1 {
	margin-top: 40px;
}

/* Password */
div.ic2 {
	margin-top: 30px;
}

/* Login button */
button.sign-up {
	margin-top: 10px;
}

/* Sign up button link */
button.sign-up-login {
	margin-top: 10px;
}

/* Confirm password cut */
div.confirm-password-cut {
	width: 136px;
}

/* Password cut */
div.password-cut {
	width: 82px;
}

/* Pseudo cut */
div.pseudo-cut {
	width: 66px;
}

/* Email cut */
div.email-cut {
	width: 55px;
}

/* Input container */
div.input-container {
	position: relative;
	height: 50px;
	width: 100%;
}

/* Sign page container */
div.sign {
	background-color: var(--white);
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh;
}

/* Title text container */
div.title {
	color: var(--primary-color-100);
	font-family: sans-serif;
	font-weight: 600;
	font-size: 36px;
}

/* Cutter */
div.cut {
	background-color: var(--white);
	transition: transform 200ms;
	transform: translateY(0);
	border-radius: 10px;
	position: absolute;
	height: 20px;
	left: 20px;
	top: -20px;
}

/* Virtual placeholder label */
label.placeholder {
	transition: transform 200ms, color 200ms;
	color: var(--primary-color-400);
	font-family: sans-serif;
	transform-origin: 0 50%;
	pointer-events: none;
	position: absolute;
	line-height: 14px;
	left: 20px;
	top: 20px;
}

/* Any input */
input.input {
	border: 1px solid var(--primary-color-400);
	background-color: var(--white);
	color: var(--primary-color);
	box-sizing: border-box;
	border-radius: 12px;
	padding: 4px 20px 0;
	font-size: 18px;
	height: 100%;
	width: 100%;
	outline: 0;
}

/* Submit button */
button.submit {
	background-color: var(--primary-color);
	box-sizing: border-box;
	color: var(--white);
	border-radius: 12px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	width: 100%;
	outline: 0;
	border: 0;
}
